<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286711405478-96df2drfasbqjl31cmtajr50v15oi1tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286711405478-96df2drfasbqjl31cmtajr50v15oi1tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>286711405478-0mejkvhcm3sgbmugsj3brjfbcvqr133s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhBA7EDhd98M3jzZ1zrN4HiivjsmxGBus</string>
	<key>GCM_SENDER_ID</key>
	<string>286711405478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingApp</string>
	<key>PROJECT_ID</key>
	<string>writicles-dabee</string>
	<key>STORAGE_BUCKET</key>
	<string>writicles-dabee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286711405478:ios:d68da94b4c8fa9a487cd67</string>
</dict>
</plist>